{% extends 'shared/_layout.html' %}
{% load static %}
{% block title %}
    صفحه | فراموشی کلمه عبور
{% endblock %}
{% block content %}
    <!-- sign in section start  -->
    <section class="sign-in-section pb-120 pt-120 mt-sm-15 mt-10">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="form-area">
                        <h1 class="tcn-1 text-center cursor-scale growUp mb-10">فراموشی کلمه عبور</h1>
                        <form action="{% url 'Forgot' %}" method="post" class="sign-in-form">
                            {% csrf_token %}
                            {{ forgot_form.email.error_messages }}
                            {{ forgot_form.email }}
                            <div class="text-center">
                                <button class="bttn py-3 px-6 rounded bgp-1">بازیابی</button>
                            </div>
                        </form>
{#                        <p class="tcn-4 text-center mt-lg-10 mt-6">#}
{#                            <a href="{% url 'Register' %}" class="text-decoration-underline tcp-1">#}
{#                                ثبت نام#}
{#                            </a>#}
{#                        </p>#}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
