{% load static %}
<footer class="footer bgn-4 bt">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-3 col-sm-6 bl py-lg-20 pt-sm-15 pt-10 footer-card-area">
                <div class="py-lg-10">
                    <div class="footer-logo mb-8">
                        <a href="#" class="d-grid gap-6">
                            <div class="flogo-1">
                                <img class="w-100" src="{% static 'img/logo2.png' %}" alt="فاوآیکون">
                            </div>
                            <div class="flogo-2">
                                <img class="w-100" src="{% static 'img/logo.png' %}" alt="لوگو">
                            </div>
                        </a>
                    </div>
                    <div class="social-links">
                        <ul class="d-flex align-items-center gap-3 flex-wrap">
                            <li>
                                <a href="#"><i class="ti ti-brand-facebook fs-2xl"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ti ti-brand-twitter fs-2xl"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ti ti-brand-youtube fs-2xl"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ti ti-brand-linkedin fs-2xl"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ti ti-brand-instagram fs-2xl"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 bl br-res py-lg-20 pt-sm-15 pt-10 footer-card-area">
                <div class="py-lg-10">
                    <h4 class="footer-title mb-8 title-anim">لینک های سریع</h4>
                    <ul class="footer-list d-grid gap-4">
                        <li><a href="tournaments.html" class="footer-link d-flex align-items-center tcn-6">
                            <i class="ti ti-chevron-left"></i> مسابقات</a></li>
                        <li><a href="game.html" class="footer-link d-flex align-items-center tcn-6"> <i
                                class="ti ti-chevron-left"></i> بازی ها</a></li>
                        <li><a href="teams.html" class="footer-link d-flex align-items-center tcn-6"> <i
                                class="ti ti-chevron-left"></i> تیم ها</a></li>
                        <li><a href="faq.html" class="footer-link d-flex align-items-center tcn-6"> <i
                                class="ti ti-chevron-left"></i> سوالات متداول</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 bl py-lg-20 pt-sm-15 pt-10 footer-card-area">
                <div class="py-lg-10">
                    <h4 class="footer-title mb-8 title-anim">کاوش کنید</h4>
                    <ul class="footer-list d-grid gap-4">
                        <li><a href="#" class="footer-link d-flex align-items-center tcn-6"> <i
                                class="ti ti-chevron-left"></i> بازیکنان برتر</a></li>
                        <li><a href="chat.html" class="footer-link d-flex align-items-center tcn-6"> <i
                                class="ti ti-chevron-left"></i> پیام ها</a></li>
                        <li><a href="profile.html" class="footer-link d-flex align-items-center tcn-6"> <i
                                class="ti ti-chevron-left"></i> نمایه</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 py-lg-20 pt-sm-15 pt-10 footer-card-area">
                <div class="py-lg-10">
                    <h4 class="footer-title mb-8 title-anim">ما را دنبال کنید</h4>
                    <ul class="footer-list d-grid gap-4">
                        <li><a href="#" class="footer-link d-flex align-items-center tcn-6"> <i
                                class="ti ti-chevron-left"></i> فیسبوک</a></li>
                        <li><a href="#" class="footer-link d-flex align-items-center tcn-6"> <i
                                class="ti ti-chevron-left"></i> اینستاگرام</a></li>
                        <li><a href="#" class="footer-link d-flex align-items-center tcn-6"> <i
                                class="ti ti-chevron-left"></i> تویتتر</a></li>
                        <li><a href="#" class="footer-link d-flex align-items-center tcn-6"> <i
                                class="ti ti-chevron-left"></i> لینکدین</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row pb-4 pt-lg-4 pt-8 justify-content-between g-2">
            <div class="col-xxl-4 col-lg-6 order-last order-lg-first">
                <span>کپی رایت © 1402 گیم پلکس | طراحی شده توسط لیلا زعفرانی</span>
            </div>
            <div class="col-xxl-3 col-lg-5">
                <ul class="d-flex align-items-center gap-lg-10 gap-sm-6 gap-4">
                    <li><a href="terms-condition.html">شرایط و ضوابط</a></li>
                    <li><a href="#">حریم خصوصی و خط مشی</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- footer banner img  -->
    <div class="footer-banner-img" id="faa">
        <img class="w-100" src="{% static 'img/fbanner.png' %}" alt="بنر">
    </div>
</footer>