{% load static %}

<!-- jquery  -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- gsap  -->
<script src="{% static 'js/gsap.min.js' %}"></script>
<!-- gsap scroll trigger -->
<script src="{% static 'js/ScrollTrigger.min.js' %}"></script>
<!-- lenis  -->
<script src="{% static 'js/lenis.min.js' %}"></script>
<!-- tilt js -->
<script src="{% static 'js/vanilla-tilt.js' %}"></script>
<!-- scroll magic -->
<script src="{% static 'js/ScrollMagic.min.js' %}"></script>
<!-- animation.gsap -->
<script src="{% static 'js/animation.gsap.min.js' %}"></script>
<!-- gsap customization  -->
<script src="{% static 'js/gsap-customization.js' %}"></script>
<!-- apex chart  -->
<script src="{% static 'js/apexcharts.js' %}"></script>
<!-- swiper js -->
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<!-- magnific popup  -->
<script src="{% static 'js/magnific-popup.js_1.1.0_jquery.magnific-popup.min.js' %}"></script>
<!-- bootstrap js -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<!-- main js  -->
<script src="{% static 'js/main.js' %}"></script>