{% load render_partial %}
{% load static %}

<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <title>{% block title %}
        خانه - گیم پلکس
    {% endblock %}</title>
    {% include 'header_component/header_connections.html' %}
</head>
<body>
<!-- header-section start -->
{% render_partial 'Home.views.header_component' %}
<!-- header-section end -->

{% block content %}{% endblock %}

<!-- footer section start  -->
{% render_partial 'Home.views.footer_component' %}
<!-- footer section end  -->

<!-- ==== js dependencies start ==== -->
{% include 'footer_component/footer_connections.html' %}
</body>
</html>