{% extends 'shared/_layout.html' %}

{% block title %}
	سیو عکس
{% endblock %}

{% block content %}
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<form action="{% url 'upload' %}" method="post" class="sign-in-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ upload.Image }}
        <div class="text-center">
            <button class="bttn py-3 px-6 rounded bgp-1">ثبت</button>
        </div>
    </form>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}